<!DOCTYPE html>
<html>
	<head>
		<title>Rango</title>
	</head>
	
	<body>
		<h1>Rango Says....hello world</h1>
		{% if categories %}
			<ul>
				{% for category in categories %}
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
			</ul>
		{% else %}
			<strong>Their are no Categories present</strong>
		{% endif %}

		<a href="/rango/about">about</a><br />
		<a href="/rango/add_category">Add a category</a>
	</body>
</html>